# This variable stores the mnemonic phrase (a series of words) used for generating cryptographic keys.
MNEMONIC =

# This variable represents the JSON-RPC endpoint for the Polygon Mumbai network.
JSON_RPC = https://rpc.ankr.com/polygon_mumbai

# This variable holds the API key required for interacting with the PolygonScan API.
polygonscanAPIkey =

# This variable defines the name associated with a specific non-fungible token (NFT).
NFTname = 

# This variable specifies the symbol or abbreviation representing a non-fungible token (NFT).
NFTsymbol = 